.query-form {
    padding: 10px 5px;
}

.primary {
    cursor: pointer;
    color:#1890ff;
    margin-right: 5px;
}

.danger {
    cursor: pointer;
    color: #ff4d4f;
    margin-right: 5px;
}

.btn-group {
    margin: 10px 0;
}